<!doctype html>

<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/assets/css/reset.css">
      <link rel="stylesheet" href="/assets/css/util.css">
      <link rel="stylesheet" href="/assets/css/grid.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/type-scale.css">
      <link rel="stylesheet" href="/assets/css/color-scale.css">
      <title>{{page.title}}</title>
    </head>
    <body>
        {{content}}
    </body>
</html>
